* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  /* background: url('satbg.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: scroll; /* Adjust if needed, e.g., fixed */
  background-position: 60%; /* Adjust if needed */
  background-color: #f2f2f2;
  
  /* Add the black gradient below the background image */
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 100%); */
}
